doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Home | HubSpot APIs
        a(href='/update-cobj') Agregar a esta tabla
        table
            thead
                tr
                    th nombre del proyecto
                    th tipo de proyecto
                    th gerente del proyecto
                    
            tbody
                each item in data
                    tr
                        td= item.properties.nombre_del_proyecto
                        td= item.properties.tipo_de_proyecto
                        td= item.properties.gerente_del_proyecto
                        