doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Formulario de actualización de objeto HubSpot 
        form(action="/update-cobj" method="post")
            div
                label(for="email") Email
                input(type="text" name="email" required)
            div
                label(for="firstname") firstname
                input(type="text" name="firstname" required)
            div
                label(for="lastname") lastname
                input(type="text" name="lastname" required)
            div
                label(for="city") city
                input(type="text" name="city" required)
            div
            button(type="submit") Submit
        a(href='/') Regresar a la página de inicio
