doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Formulario de actualización de objeto HubSpot 
        form(action="/update-cobj" method="post")
            div
                label(for="nombre_del_proyecto") nombre_del_proyecto
                input(type="text" name="nombre_del_proyecto" required)
            div
                label(for="tipo_de_proyecto") tipo_de_proyecto
                input(type="text" name="tipo_de_proyecto" required)
            div
                label(for="gerente_del_proyecto") gerente_del_proyecto
                input(type="text" name="gerente_del_proyecto" required)
            div
                button(type="submit") Submit
        a(href='/') Regresar a la página de inicio
